@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif;
    --font-inter: "Inter", sans-serif;
    --breakpoint-xs:  32rem;
    --breakpoint-tablet:  57rem;
}

.input-field { 
    @apply flex items-center gap-3 mt-1 border-2 text-purple-800  border-purple-200 rounded-lg px-4 py-2
}

.primary-btn {
    @apply  text-white  bg-purple-700 w-full hover:bg-purple-900 transition-all 
}

.btn {
    @apply py-2 px-4 rounded-lg font-semibold cursor-pointer transition-all 
}

.secondary-btn {
@apply border-2 border-purple-300/50 text-purple-800 hover:bg-purple-700 hover:text-white
}

.label {
    @apply text-sm font-semibold text-purple-900 mt-2;
}
